extends layouts/main

block content
    .form-container
        form#jsUploadForm(action=`/videos${routes.uploadVideos}`, method="post", enctype="multipart/form-data")
            .form__item.form__title
                h4 제목
                input(type="text", placeholder="제목을 입력해주세요", name="title", required=true)
            .form__item.form__description
                h4 설명
                textarea(name="description", placeholder="시청자에게 동영상에 대해 알려주세요", required=true)
            label(for="file")
                .form__video
                    <i class="fas fa-plus"></i>
            input(type="file",  id="file", name="videoFile", required=true, accept="video/*")
            .form__submit#jsUploadButton
                input(type="submit", value="비디오 업로드")
    .loading
        img(src="/images/712.gif")

            