.footer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 20px;
  .line {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .footer__content {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.3);
    i {
      color: $red;
      filter: contrast(0.5);
    }
    & > * {
      margin: 0 0.3rem;
    }
  }
}
